body {
    background: url(../resources/black_espresso_50.png);
    background-color: #000;
    background-size: 150px 150px;
}

#top {
    background: #FF474C;
    height: auto;
    padding: 10px 10px
}

#middle {
    background: none;
    height: auto;
    padding: 10px 10px
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.banner-head {
  color: white;
  text-align: center;
  opacity: 1;
}

a#nova-teaser {
    display: block;
    text-align: center;
    width: 150px;
    margin: 0px auto;
    padding: 20px;
    color: red;
    font-family: GlacialIndifferenceB;
    text-transform: uppercase;
    border: 2px solid #FF0000;
    background-color: #ff001f5b;
    text-decoration: none;
    border-radius: 10px;
}

@font-face {
    font-family: "GlacialIndifference";
    src: url(../fonts/GlacialIndifference-Regular.otf);
}

@font-face {
    font-family: "GlacialIndifferenceB";
    src: url(../fonts/GlacialIndifference-Bold.otf);
}

h1, h2, h3, h4, h5, h6{
    color: white;
    font-family: GlacialIndifference;
}

p {
  color: white;
  font-family: GlacialIndifference;
  text-align: center;
}

.center {
  text-align: center;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
